<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Products:</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
	</tr>
	<tr th:each="product: ${products}">
		<td th:text="${product.name}">NAME</td>
		<td th:text="'€'+${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">PRICE</td>
		<td th:text="'-'+${product.quantity}+'+'">QUANTITY</td>
		
</table>
</body>
</html>